
<!-- Begin Error 404 Area -->
<div class="error-404-area section-space-top-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="error-404-content">
                    <h1 class="title mb-5">404</h1>
                    <h2 class="sub-title mb-4">Opps! Có lỗi không mong muốn!</h2>
                    <p class="short-desc mb-7">Dường như không có gì ở trang bạn đang tìm. Hãy thử lại hoặc nhấn vào nút dưới đây để quay lại trang chủ!</p>
                    <div class="button-wrap">
                        <a class="btn btn-custom-size lg-size btn-primary btn-secondary-hover rounded-0" href="/">Quay lại trang chủ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Error 404 Area End Here -->